.visualizer {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px; 
  margin-top: 20px;
  text-align: center;
}

.visualizer .bars-cont {
  display: flex;
  justify-content: center;
  transform: rotatex(180deg);
}

.visualizer .bar {
  width: 30px;
  background: #E6E6E6;
  margin: 0 3px;
  border-radius: 20px;
}

.visualizer .label {
  margin-bottom: 70px;
}