html, body { 
  height: 100%; 
  font-family: 'Roboto', sans-serif;
  background-color: #F4F9F9;
} 

.container {
  display: flex;
  height: 100vh; 
  flex: 1; 
}

.content {
  padding: 30px; 
  flex: 1; 
}

.content .btn {
  padding: 8px 15px;
  font-size: 12px;
}

.content .shuffle-btn {
  background: #28527a;
}
.content .shuffle-btn:hover {
  background: #204569; 
}
.content .sort-btn {
  background: #ff6b6b;
}
.content .sort-btn:hover {
  background: #E66060;
}

.content .sort-btn span, .content .shuffle-btn span {
  margin-left: 10px;
}

.content .center-items {
  justify-content: center;
}
