.option-slider .slider {
  border: 1px solid #ddd; 
  border-radius: 3px;
  padding: 5px 15px; 
  padding-top: 13px;
}

.option-slider .label {
  text-align: left;
  font-size: 14px;
  color: #3c3c3c;
  margin-top: 15px;
  margin-bottom: 10px;
}