.side-bar {
  background-color: #fff; 
  border-right: 1px solid #ddd;
  width: 220px;
  padding: 30px 15px;
  text-align: center;
}

.side-bar .logo {
  max-width: 80px;
}

.side-bar .heading {
  margin-top: 15px;
  font-size: 24px;
  font-weight: 300;
  color: #3c3c3c; 
  margin-bottom: 8px;
}

.side-bar .heading strong {
  color: #ff6b6b;
}

.side-bar .subheading {
  color: #888; 
  margin-bottom: 30px; 
}

.side-bar .divider {
  margin-bottom: 30px;
}